<div id="nothing-playing">
  <p>No music is currently playing on your Sonos system. </p>
  <p>Use the Sonos app to play a playlist of your choice. </p>
  <p>The guests will then be able to queue additional songs in-between whatever playlist you choose now.</p>
  <p>This page will automatically refresh once you start playing music.</p>
  <p>Play the music for the group named <span id="custom-group"></span></p>
</div>

<div id="everything-else">
  <div id="currently-playing">
    <img id="currently-playing-cover">
    <img id="playing-next-cover">
    <p id="currently-playing-title"></p>
  </div>

  <div id="media-controls">
    <button id="pause-play-button">
      <span id="svg-play"><%= erb :"svgs/_button-play.svg", layout: false %></span>
      <span id="svg-pause"><%= erb :"svgs/_button-pause.svg", layout: false %></span>
    </button>
    <button id="next-song-button" onclick="skipSong()">
      <%= erb :"svgs/_button-skip.svg", layout: false %>
    </button>
  </div>

  <img src="/assets/aux-cable.png" id="aux-cable" />
  <a href="#" id="spotify-link" target="_blank">
    <img src="/assets/spotify-logo.png" id="spotify-logo" />
  </a>

  <div id="queue">
    <p id="no-songs-text">
      Share the link or QR code below with your friends for them to queue songs
    </p>
    <ul id="queue-list"></ul>
  </div>
  <div id="qr-code">
    <img src="/qr_code.png?t=<%= Time.now.to_i.to_s %>">
  </div>
  <p id="party-join-link"><a target="_blank"></a></p>
  <div id="volume-container">
    <button onclick="volumeDown()">
      <%= erb :"svgs/_button-arrow-left.svg", layout: false %>
    </button>
    <input type="range" min="0" max="100" value="" class="slider" id="volume-slider">
    <span id="volume-label"></span>
    <button onclick="volumeUp()">
      <%= erb :"svgs/_button-arrow-right.svg", layout: false %>
    </button>
  </div>
  <hr />
    
    <button id="groups-button">
      <% # erb :"svgs/_button-groups.svg", layout: false %>
    </button>

  <%# <div id="groups-div"></div> %>
</div>

<div id="instruction">
  <p>How to use AuxCord.org</p>
  <ol>
    <li>Group all the speakers you want to use</li>
    <li>Play your Party playlist through the Sonos app</li>
    <li>Share the link or QR code from this page with your friends</li>
    <li>Start the party mode on this page</li>
    <li>As your guests add new songs, they'll show up here.</li>
  </ol>
  <p>AuxCord.org explained</p>
  <ul>
    <li><b>Music Order:</b> Each song added by your guest will be prioritized higher than the playlist you're playing. Within the wished songs, they're sorted chronologically.</li>
    <li><b>Play/Pause:</b> This will start/stop the party. If playing is active here, it means auxcord.org controls your sound system. If it's inactive, you can still manually play songs through the Sonos app.</li>
    <li><b>Queue:</b> A list of songs that will be played next, wished for by your guests. Once that queue is empty, your playlist will continue</li>
    <li><b>Arrow buttons (volume):</b> Control the volume of your sound system. The same volume will be set across all speakers. If you try to change the volume using the Sonos app or using the hardware buttons, the volume will automatically be reverted back to the original.</li>
    <li><b>Speaker Group:</b> At the moment auxcord will automatically use the group with the highest number of speakers. Use the Sonos app to add all speakers into a single group.</li>
  </ul>
</div>

<%= erb :"js/_party.js", layout: false %>
<%= erb :"css/_party.css", layout: false %>

<div id="footer">
  <a href="/logout" onclick="return confirm('Are you sure you want to delete your Spotify & Sonos login tokens, and logout from auxcord.org? You will need to do the full onboarding flow again if you want to use auxcord.org again!')">Logout & Remove all Login tokens</a>
</div>
