<h3>Jukebox for Sonos - Party Host</h3>

<h4>Generated URL</h4>
<p><a href="<%= @party_join_link %>"><%= @party_join_link %></a></p>
<%= @qr_code.as_svg(
  color: "000",
  shape_rendering: "crispEdges",
  module_size: 4,
  standalone: true,
  use_path: true,
)
%>

<h4>Manage Party</h4>

<h5>Volume Control</h5>
<div class="slidecontainer">
  <input type="range" min="1" max="100" value="<%= @volume %>" class="slider" id="volume-slider">
  <span id="volume-label"><%= @volume %></span>
</div>

<h5>End this party</h5>

Ready to head out for the night? Stop the party<br /><br />

<label class="switch">
  <input type="checkbox" id="party-toggle" <%= @party_on ? 'checked="checked"' : '' %>%>
  <span class="switch-slider round"></span>
</label>

<script type="text/javascript">
  // Send the updated volume slider value to the server
  var slider = document.getElementById("volume-slider");
  slider.onchange = function() {
    document.getElementById("volume-label").innerHTML = slider.value;
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/party/host/update", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("volume=" + slider.value);
  }

  var partyToggle = document.getElementById("party-toggle");
  partyToggle.onchange = function() {
    var xhttp = new XMLHttpRequest();
    xhttp.open("POST", "/party/host/update", true);
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("party_toggle=" + partyToggle.checked);
  }
</script>

<style type="text/css">
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  #volume-slider {
    width: 300px;
    margin: 20px;
  }
  #volume-label {
    font-weight: bold;
    font-size: 20px;
  }
  svg {
    /* width: 200px;
    height: 200px; */
  }
</style>

<style type="text/css">
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .switch-slider {
    background-color: #2196F3;
  }
  input:focus + .switch-slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .switch-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .switch-slider.round {
    border-radius: 34px;
  }
  .switch-slider.round:before {
    border-radius: 50%;
  }
</style>
