<div id="jukebox-outline">
  <div id="volume-container">
    <button onclick="volumeDown()">
      <%= erb :"svgs/_button-arrow-left.svg", layout: false %>
    </button>
    <input type="range" min="0" max="100" value="" class="slider" id="volume-slider">
    <span id="volume-label"></span>
    <button onclick="volumeUp()">
      <%= erb :"svgs/_button-arrow-right.svg", layout: false %>
    </button>
  </div>
  
  <img id="currently-playing-cover">
  <p id="currently-playing-title"></p>
  <img id="playing-next-cover">
  <div id="media-controls">
    <div id="empty-control"></div>
    <button id="pause-play-button">
      <span id="svg-play"><%= erb :"svgs/_button-play.svg", layout: false %></span>
      <span id="svg-pause"><%= erb :"svgs/_button-pause.svg", layout: false %></span>
    </button>
    <button id="next-song-button" onclick="skipSong()">
      <%= erb :"svgs/_button-skip.svg", layout: false %>
    </button>
  </div>
  <div id="queue">
    <ul id="queue-list"></ul>
  </div>

  <div id="qr-code"></div>
  <p id="party-join-link"><a target="_blank"></a></p>
  <button id="groups-button">
    <% # erb :"svgs/_button-groups.svg", layout: false %>
  </button>
</div>

<%# <div id="groups-div"></div> %>

<div id="footer">
  <a href="/logout">Logout & Remove all Login tokens</a>
</div>

<%= erb :"js/_party.js", layout: false %>
<%= erb :"css/_party.css", layout: false %>
