<h1><a href="https://auxcord.org" target="_blank">AuxCord.org</a></h1>

<p id="subtitle-slogan">Let friends queue their music at your party</p>

<% if @queued_songs.count > 0 %>
  <div id="queue">
    <h3>Next Songs</h3>
    <ul id="queue-list">
      <% @queued_songs.each do |song| %>
        <li class="queue-entry">
          <img class="queue-image" src="<%= song[:album_cover] %>" />
          <span><%= song[:name] %> - <%= song[:artists] %></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="loading-div">
  <h3>Adding song to party via auxcord.org...</h3>
  <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
</div>

<h3>Play your own song:</h3>
<input type="text" name="song" value="" placeholder="Enter Song Name" id="song-input"> 
<ul id="song-list"></ul>
<p>
  Hosting your own party soon? Check out 
  <a href="https://auxcord.org" target="_blank">AuxCord.org</a>,
  a free service that lets your guests add their own songs.
</p>

<%= erb :"js/_queue_song.js", layout: false %>
<%= erb :"css/_queue_song.css", layout: false %>
<%= erb :"css/_loading-indicator.css", layout: false %>
